<div class="modal-header">
    <h3 class="modal-title text-center">Do You want to create subcompany for {{company.name}}</h3>
</div>
<div class="modal-body">
    <label>
        Subcompany name <br/>
        <input type="text" ng-model="newCompany.name" placeholder="Subcompany name">
    </label>
    <label>
        Subcompany earnings <br/>
        <input type="text" ng-model="newCompany.earnings" placeholder="Subcompany earnings">
    </label>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="!newCompany.name || !newCompany.earnings">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>